VESTA_DATABASE_URL=jdbc:postgresql://localhost:5432/vesta
VESTA_DATABASE_USERNAME=vesta
VESTA_DATABASE_PASSWORD=vesta
VESTA_JWT_SECRET=replace-with-at-least-32-random-characters
VESTA_ALLOWED_ORIGINS=http://localhost:5173
VESTA_MAIL_HOST=localhost
VESTA_MAIL_PORT=1025

